01-lead-to-crm/workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture-smart",
        "options": {}
      },
      "id": "8da29ca8-a51b-4cb6-ba73-1d75fe5723e9",
      "name": "Form Submission",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        128
      ],
      "webhookId": "lead-capture-smart-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-firstname",
              "leftValue": "={{ $json.body.firstName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "condition-company",
              "leftValue": "={{ $json.body.company }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "condition-email",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b03036d7-d5a9-4b47-9a3a-f274b4f7b240",
      "name": "Is Hot Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -240,
        128
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "email": "={{ $json.body.email }}",
        "additionalFields": {
          "companyName": "={{ $json.body.company }}",
          "firstName": "={{ $json.body.firstName }}",
          "lastName": "={{ $json.body.lastName }}",
          "phoneNumber": "={{ $json.body.phone }}"
        },
        "options": {}
      },
      "id": "4a9f3de3-b528-495d-b18d-0939d13a5489",
      "name": "Add to HubSpot",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "SR7XJorX89q2PHKe",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "all-test-server"
        },
        "text": "=🔥 *HOT LEAD — Action Required!*\n\n*Name:* {{ $('Form Submission').item.json.body.firstName }} {{ $('Form Submission').item.json.body.lastName }}\n*Email:* {{ $('Form Submission').item.json.body.email }}\n*Company:* {{ $('Form Submission').item.json.body.company }}\n*Phone:* {{ $('Form Submission').item.json.body.phone }}\n\n✅ Added to HubSpot. Follow up within 1 hour.",
        "otherOptions": {}
      },
      "id": "be7fa8b5-361f-4852-bcd2-67c598f8762d",
      "name": "Slack — Hot Lead Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        240,
        0
      ],
      "webhookId": "389c3833-ef30-4886-9e99-6f27be02cce3",
      "credentials": {
        "slackOAuth2Api": {
          "id": "f6RM8Dlo9XVaWu28",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "firstName": "={{\"\" + $json.body.firstName }}",
            "lastName": "={{\"\" + ($json.body.lastName || \"N/A\") }}",
            "email": "={{\"\" + $json.body.email }}",
            "company": "={{\"\" + ($json.body.company || \"N/A\") }}",
            "phone": "={{\"\" + ($json.body.phone || \"N/A\") }}",
            "status": "cold — incomplete submission",
            "submittedA": "={{\"\" + new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "submittedA",
              "displayName": "submittedA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9b66cdef-f672-4116-9178-d8cf8ccb30b5",
      "name": "Save Cold Lead to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "O3Auhoc9wJeqvbX6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "new-channel"
        },
        "text": "=📋 *Cold Lead — Incomplete Submission*\n\n*Email:* {{ $('Form Submission').item.json.body.email }}\n*Name:* {{ $('Form Submission').item.json.body.firstName || 'Not provided' }}\n*Company:* {{ $('Form Submission').item.json.body.company || 'Not provided' }}\n\n⚠️ Saved to Sheets. No HubSpot entry. Low priority follow-up.",
        "otherOptions": {}
      },
      "id": "defa17d4-5d15-4e56-9fb5-56a19fe6df58",
      "name": "Slack — Cold Lead Note",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        240,
        240
      ],
      "webhookId": "57c49e30-30da-4548-80a9-a47ebd59c5f5",
      "credentials": {
        "slackOAuth2Api": {
          "id": "f6RM8Dlo9XVaWu28",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Form Submission": {
      "main": [
        [
          {
            "node": "Is Hot Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Hot Lead?": {
      "main": [
        [
          {
            "node": "Add to HubSpot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Cold Lead to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to HubSpot": {
      "main": [
        [
          {
            "node": "Slack — Hot Lead Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Cold Lead to Sheets": {
      "main": [
        [
          {
            "node": "Slack — Cold Lead Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7a7c6037-0af8-4463-966e-d371cc4d83fd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d787284d04840598b22fd5b29cf3b7b9ac7c01be874561b2b2d046fffaf570eb"
  },
  "id": "3dl5vTlpbQSxTcwx",
  "tags": []
}
